App/build
App/Pods
App/output
App/App/public
DerivedData
xcuserdata
*.p12
*.cer
*.mobileprovision
*.ipa
*.xcarchive/
AuthKey_*.p8

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
App/App/capacitor.config.json
App/App/config.xml
